@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@theme {
    --font-poppins: "Poppins", "sans-serif";
}

.navbar-nav {
    @apply hidden md:flex;
}

.navbar {
    @apply md:bg-transparent bg-[#F6F6F6];
}

.navbar-nav.show {
    @apply flex;
    delay: 0.5s;
}

.navbar.scrolled {
    @apply bg-[#F6F6F6] shadow-md;
}

.linkActive {
    @apply text-blue-900;
}

.textSlate {
    @apply md:text-white text-slate-800;
}

.textSlate.scrolled {
    @apply text-slate-800 hover:text-blue-900;
}

.textBlue {
    @apply md:text-slate-400 text-blue-900;
}

.textBlue.scrolled {
    @apply text-blue-900 hover:text-blue-900;
}

.footer {
    @apply bg-[#F6F6F6];
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.10);
}

.ck-editor__editable {
    min-height: 300px;
    padding: 500px;
}

.ck {
    --ck-color-base-border: #1e3b8a;
}

.animate-fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-show {
    opacity: 1;
    transform: translateY(0);
}